body {
	background-color: cadetblue;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2f4f4f;
	padding: 0 20px;
	color: #fff;
}

.header ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 15px;
}

.header ul a {
	text-decoration: none;
	color: #fff;
}

main {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

section h2,
article h2 {
	font-weight: bold;
	font-size: 30px;
	margin: 0;
	margin-bottom: 15px;
}

.posts-list article,
.single-post-article {
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 10px;
}

.posts-list article a,
.single-post-article a {
	text-decoration: none;
	margin-right: 10px;
}

.post-form form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.post-form form div {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.post-form input,
.post-form textarea,
.post-form select,
.post-form button {
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.post-form textarea {
	resize: none;
}

.post-form button {
	width: 150px;
	cursor: pointer;
}

.post-form button:hover {
	background-color: #c7c7c7;
}

.reaction-buttons-container {
	display: flex;
	gap: 5px;
}

.reaction-buttons-container button {
	border: none;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.post-form .actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 10px;
}

.delete-post-button {
	background-color: lightcoral;
}

.delete-post-button:hover {
	background-color: #cd5c5c;
}